
/* .gatedResourceDetail p{
    font-size: 16px;
    margin-bottom: 20px;
} */
.gatedResourceDetail > div > div > div > p{
    font-size: 18px;
    margin-bottom: 14px;
    margin-right: 10px;
}
.gatedResourceDetail h2{
    margin: 16px 0;
}
.gatedResourceDetail p{
    margin-bottom: 16px !important;
}
.gatedResourceDetail .event{
    margin-bottom: 0 !important;
}
.gatedResourceDetail ul{
    margin-bottom: 16px !important;
}
.gatedResourceDetail .content div{
    font-size: 16px;
    margin-bottom: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: '__Inter_f32f7a', '__Inter_Fallback_f32f7a';
}
.gatedResourceDetail li p{
    font-size: 14px;
    margin-bottom: 0;
}
.gatedResourceDetail h1{
	margin-bottom: 40px;
}
.gatedResourceDetail ul{
	margin-left: 24px;
	list-style: disc;
}
.gatedResourceDetail h3{
	margin-bottom: 16px;
}
.gatedResourceDetail li{
    font-size: 16px;
	margin-bottom: 14px;
    margin-right: 25px;
    /* font-family: '__Inter_d2129a', '__Inter_Fallback_d2129a'; */
}
.gatedResourceDetail li:last-child{
	margin-bottom: 0;
}

@media (min-width: 2499px) {
    .gatedResourceDetail .content div{
        font-size: 18px;
    }
    .gatedResourceDetail  p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .gatedResourceDetail li p{
        font-size: 18px;
        margin-bottom: 0;
    }
}



.gatedResourceDetail .event ul{
    list-style: none;
    display: flex;
    margin-left: 0;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.gatedResourceDetail .event li {
    width: fit-content;
    margin-right: 24px;
    margin-bottom: 0;
}
@media (max-width: 991px) {
    .gatedResourceDetail .event li {
        margin-bottom: 10px;
    }
}
.gatedResourceDetail .event li div{
     display: flex;
     flex-wrap: wrap;
}
.gatedResourceDetail .event li div img{
    margin: 0;
    margin-right: 8px;
}
.gatedResourceDetail .event li div p{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
}
.gatedResourceDetail .event img{
   width: 24px;
   height: 24px;

}
.gatedResourceDetail img{
    height: 100%;
    width:  100%;
    max-height: 320px;
    max-width:  496px;
    margin-bottom: 40px;
    margin: 40px 0; 
}
@media (max-width: 991px) {
    .gatedResourceDetail li{
        margin-bottom: 16px;
    }
    /* .gatedResourceDetail img {
        max-width: 300px;
    } */
}




.gatedResourceDetail > div{
	position: unset !important;
}
.gatedResourceDetail .boxWrap {
	border-top-left-radius: 16px; 
	border-bottom-left-radius: 16px; 
}
.gatedResourceDetail .boxWrap h3{
    margin-bottom: 24px;
}
@media (max-width: 1279px){
    .gatedResourceDetail .boxWrap {
        border-radius: 16px;  
    }
}
.gatedResourceDetail p{
	margin-bottom: 40px;
}
@media (max-width: 991px) {
    .gatedResourceDetail p{
        margin-bottom: 20px;
    }
}

.bg-black .slick-dots li button::before{
	color: white !important;
	opacity: 0.5;
}
.bg-black .slick-dots .slick-active button::before{
	color: white;
	opacity: 1;
}
.presenters{
    position: relative;
    width: 100%;
    max-width: 496px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 32px;
    margin-bottom: 40px;
}

.presenters > div:first-child{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.presenters > div:first-child img{
    margin: 0;
    width: 100%;
    max-width: unset;
    max-height: unset;
}
.presenters > div:last-child{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 26px);
    margin-left: -13px;
    margin-top: 20px;
}

.presenters > div:last-child > div{
    width: calc(33.33% - 26px);
    margin: 0 13px;
}

.presenters > div:last-child > div > div:first-child img{
    height: 100%;
    width: 100%;
    max-height: 132px;
    max-width: 140px;
    margin: 0 auto;

 }
 .presenters > div:last-child > div > div:last-child{
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
 }
 .presenters > div:last-child > div > div:last-child h6{
   color: #fff;
   font-size: 16px;
   font-weight: 600;
 } 
 .presenters > div:last-child > div > div:last-child p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    margin-bottom: 10px;
  }
  .presenters > div:last-child > div > div:last-child a{
        display: inline-block;
        width: 100%;
        height: 100%;
        max-width: 85px;
        max-height: 36px;
   } 
  .presenters > div:last-child > div > div:last-child a img{
    max-width: unset;
    max-height: unset;
    object-fit: contain;
    margin: 0;
  } 

  @media (max-width: 595px) {
    .presenters > div:last-child > div > div:first-child img{
        max-height: 145px;
     }
    .presenters > div:last-child > div{
        width: calc(50% - 26px);
        margin: 0 13px 20px;
    }

}
@media (max-width: 480px) {
    .presenters > div:last-child{
        width: 100%;
        margin-left: 0;
    }
    .presenters > div:last-child > div {
        width: 100%;
        margin: 0 0 20px;
    }
}
  .sponsors > div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .sponsors > div > div {
    width: calc(33.33% - 20px);
    margin-right: 16px;
  }
  @media (max-width: 595px) {
    .sponsors > div > div {
        width: fit-content;
        min-width: 120px;
        margin-bottom: 16px;

      }

}

.sponsors > div > div img{
    max-width: 160px;
    max-height: 29px;
    margin: 0;
    object-fit: contain;
}

.gatedResourceDetail .boxWrap .formWrap::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 61px;
    height: 262px;
    background: url('../../../public/requestForm/shapes.png') no-repeat;
    background-size: cover;
    z-index: 90;
}
@media (max-width: 1279px) {
    .gatedResourceDetail .boxWrap .formWrap::before {
        width: 40px;
        height: 200px;
    }
}
@media (max-width: 767px) {
    .gatedResourceDetail .boxWrap .formWrap::before {
       display: none;
    }
}
