.imgTextTab .logoWrap {
    max-width: 220px;
    width: 100%;
    height: 40px;
}
.ulWrap ul{
    margin-left: 26px;
    list-style: disc;
    margin-top: 18px;
}

.imgTextTab .logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.imgTextTab .btnWrap div a{
    display: inline-block;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .imgTextTab .tab-content .imgWrap {
        max-width: 300px;
        width: 100%;
    }
    .imgTextTab .logoWrap {
        max-width: 100px;
    }
}

.tab_nav_wrap::-webkit-scrollbar {
    display: none;
}

.bgImgWrap {
    width: 100%;
}

.tab_nav_wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    opacity: 0.2;
    border-bottom: 2.5px solid #fff;
    border-left: 2.5px solid #fff;
    border-bottom-left-radius: 22px;
}

.tab_nav_wrap::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 21px;
    width: 1px;
    height: 3px;
    opacity: 0.2;
    border-radius: 11px;
    border-left: 2.5px solid #fff;
}

.logoTab .tab_nav_wrap::after {
    border-bottom: 2.5px solid #000;
    border-left: 2.5px solid #000;
}

.logoTab .tab_nav_wrap::before {
    border-left: 2.5px solid #000;
}

.activeLink {
    opacity: 1 !important;
    color: white;
}

.activeLink .logoWrap {
    opacity: 1;
}

.activeLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    border-bottom: 2.5px solid #ff3b84;
}

.activeLink::before {
    content: '';
}

@media (min-width: 1280px) {
    .activeLink {
        position: relative;
    }
    .tabNav::after {
        border-left: 2.5px solid #ff3b84;
        border-bottom-left-radius: 22px;
        left: 0;
        width: 106%;
    }
    .tabNav::before {
        position: absolute;
        left: 0;
        bottom: 21px;
        width: 1px;
        height: 3px;
        border-radius: 11px;
        border-left: 2.5px solid #ff3b84;
    }
}

@media (max-width: 1279px) {
    .tab_nav_wrap::after {
        display: none;
    }
    .tab_nav_wrap::before {
        display: none;
    }
    .activeLink::before {
        display: none;
    }
    .tabNavLink::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        width: 100%;
        height: 22px;
        border-bottom: 2.5px solid white;
    }
    .group::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.2;
        width: 100%;
        height: 22px;
        border-bottom: 2.5px solid black;
    }
}
